<template>
    <transition name="slide-fade">
        <div class="widget-chat">
            <div class="widget-chat-header">
                <div class="media">
                    <img class="widget-avatar mr-2"
                         src="https://res.cloudinary.com/aprus/image/upload/v1499342150/shared/lena-avatar.png">
                    <div class="media-body">
                        <p class="mb-0">Elena Markina</p>
                        <small><i>Teacher</i></small>
                    </div>
                    <div class="" @click="hideChat">
                        <i class="far fa-times-circle widget-chat-close-button"></i>
                    </div>
                </div>
            </div>
            <div id="chat_content" class="widget-chat-content">
                <div class="card card-chat mb-3" :class="[message.sender.is_teacher ? 'card-chat-left' : 'card-chat-right']" v-for="message in messages">
                    <div class="card-body">
                        {{ message.content }}
                    </div>
                </div>
                <div v-if="show_alert" class="alert">{{ alert }}</div>
            </div>
            <div class="widget-chat-footer">
                <div class="input-group">
                    <textarea class="form-control" rows="2" v-model="content" placeholder="Ask to Elena"></textarea>
                    <div class="input-group-append">
                        <span @click="sendMessage" class="input-group-text input-group-btn">
                            <i class="fas" :class="button_icon"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>

    export default {
        name: "chat",

        components: {},
        props: [
            'user_id'
        ],

        data: function () {
            return {
                messages: [],
                content : '',
                show_alert : false,
                alert : '',
                button_icon: 'fa-paper-plane'
            }
        },

        methods: {

            /**
             * Hide the chat.
             */
            hideChat() {
                this.$parent.$emit('hide_chat');
            },

            /**
             * Load the previous messages.
             */
            loadMessages() {
                axios.get('/api/app/chat/' + this.user_id)
                    .then(response => {
                        this.messages = response.data.reverse();
                        let container = this.$el.querySelector("#chat_content");
                        container.scrollTop = container.scrollHeight;
                    })
                    .catch(e => {
                        this.show_alert = true;
                        this.alert = 'Message looks empty';
                    })
                    .finally(() => {
                        this.scrollToBottom();
                    });
            },

            /**
             * Scroll to the bottom the box with messages.
             */
            scrollToBottom()
            {
                let container = this.$el.querySelector("#chat_content");
                container.scrollTop = container.scrollHeight;
            },

            /**
             * Send the message to the API and add it to the list.
             */
            sendMessage() {
                if('' === this.content) {
                    return;
                }

                this.button_icon = 'fa-spinner fa-spin';

                axios.post('/api/app/chat/' + this.user_id, {
                    'content': this.content,
                })
                    .then(response => {
                        this.messages.push(response.data);
                        this.content = '';
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(() => {
                        this.scrollToBottom();
                        this.button_icon = 'fa-paper-plane';
                    });
            }
        },

        mounted() {
            this.loadMessages();
        }
    }
</script>

<style>
    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .3s ease;
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(50%);
        opacity: 0;
    }
</style>
