<template>
    <div id="wrapper">
        <div v-if="!lesson_finished">
            <div class="fixed-top step-header">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-11 exercise">
                            <lesson-header :user_id="user_id" :course_id="course_id" :progress="progress"></lesson-header>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row d-flex justify-content-center mb-5">
                    <div class="col-md-8 mt-3">
                        <transition name="slide">
                            <component
                                    v-if="show"
                                    :lang="lang"
                                    :is="type"
                                    :key="this.index"
                                    :step="step"></component>
                        </transition>
                    </div>
                </div>
            </div>

            <div class="mb-4 text-center">

                <button class="btn btn-primary btn-lg"
                        :class="next_button_class"
                        v-if="next"
                        @click="nextExercise">{{ lang.button_continue }}
                </button>
                <button class="btn btn-primary btn-lg"
                        v-else
                        @click="checkAnswer">{{ lang.button_check }}
                </button>

            </div>
        </div>

        <transition name="slide">
            <lesson-finished
                    :lang="lang"
                    :lesson_id="step.lesson_id"
                    :user_id="user_id"
                    :course_id="course_id"
                    v-if="lesson_finished"></lesson-finished>
        </transition>

    </div>
</template>

<script>
    import LessonHeader from './LessonHeader.vue';
    import LessonFinished from './LessonFinished.vue';
    import Explanation from './steps/Explanation.vue';
    import ChooseAndWrite from './steps/ChooseAndWrite.vue';
    import WriteImageInNativeLanguage from './steps/WriteImageInNativeLanguage.vue';
    import MultipleChoice from './steps/MultipleChoice.vue';
    import WriteInRussian from './steps/WriteInRussian.vue';
    import ListenAndRepeat from './steps/ListenAndRepeat.vue';
    import ReadAndSpeak from './steps/ReadAndSpeak.vue';

    export default {
        name: "lesson",

        components: {
            LessonHeader,
            Explanation,
            WriteImageInNativeLanguage,
            ChooseAndWrite,
            MultipleChoice,
            WriteInRussian,
            LessonFinished,
            ListenAndRepeat,
            ReadAndSpeak
        },
        props: [
            'course_id',
            'lesson',
            'types',
            'user_id',
            'lang'
        ],

        data: function () {
            return {
                show: true,
                progress: 0,
                index: 0,
                step: {},
                type: null,
                lesson_finished: false,
                answer: '',
                next: false,
                next_button_class: '',
                steps_repeated: []
            }
        },

        methods: {

            /**
             * Load the exercise.
             */
            loadExercise(index) {
                this.answer = '';
                this.show = false;
                this.step = this.lesson.steps[index];
                this.type = this.types[this.step.type];
                this.progress = (index / this.lesson.steps.length) * 100;
                this.show = true;
                this.renderButtons();

                window.scrollTo(0, 0);

                // Debug
                console.log(this.step);
                console.log('[Type] ' + this.type);
                console.log('[Index] ' + this.index);
            },

            /**
             * Render the buttons.
             * The 'Explanation' type, should not have the 'check' button.
             */
            renderButtons() {
                if ('Explanation' === this.type) {
                    this.next = true;
                }
            },

            /**
             * Check the user answer.
             */
            checkAnswer() {

                let solutions = $.map(this.step.solutions, function (v) {
                    return v.text.toLowerCase();
                });

                if ($.inArray(this.answer.toLowerCase(), solutions) > -1) {
                    this.next_button_class = 'animation-success';
                    new Audio('https://d3hntxlnh1vrrl.cloudfront.net/shared/success.mp3').play()
                    this.$emit('show_solution', true);
                    // Debug
                    console.log('[Answer] Correct');
                } else {
                    this.repeatExercise();
                    this.next_button_class = 'animation-error';
                    new Audio('https://d3hntxlnh1vrrl.cloudfront.net/shared/error.mp3').play()
                    this.$emit('show_solution', false);
                    // Debug
                    console.log('[Answer] Not Correct');
                }

                this.next = true;
            },

            /**
             * In case the user failed the exercise, add it again to the list to be repeated.
             */
            repeatExercise() {
                if (-1 === this.steps_repeated.indexOf(this.step.id)) {
                    let next_index;

                    if ((this.index + 3) > this.lesson.steps.length) {
                        next_index = this.index + 3;
                    } else {
                        next_index = this.index + 2;
                    }

                    this.steps_repeated.push(this.step.id);
                    this.lesson.steps.splice(next_index, 0, this.step);
                }
            },

            /**
             * Load the next exercise. In case is the last, finish the lesson.
             */
            nextExercise() {
                this.index++;
                this.next = false;

                if (this.index === this.lesson.steps.length) {
                    this.lessonFinished();
                } else {
                    this.loadExercise(this.index);
                }
            },

            /**
             * Finish the lesson.
             */
            lessonFinished() {
                this.lesson_finished = true;
            },

            /**
             * Set the answer.
             */
            setAnswer(answer) {
                this.answer = answer;
            }

        },

        mounted() {
            this.progress = 0;

            // For Debug purpose
            if (window.location.hash) {
                this.index = window.location.hash.substring(1) - 1;
            }

            this.loadExercise(this.index);

            /**
             * Register the event to set the answer.
             */
            this.$on('set_answer', function (msg) {
                this.setAnswer(msg);
            })
        }
    }
</script>

<style>
    /*.slide-leave-active,*/
    .slide-enter {
        transform: translate(5%, 0);
        opacity: 0;
    }

    .slide-enter-active {
        transition: .50s;
    }

    .slide-leave {
        display: none;
    }

    @keyframes bounceIn {
        from,
        20%,
        40%,
        60%,
        80%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        0% {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }

        20% {
            transform: scale3d(1.1, 1.1, 1.1);
        }

        40% {
            border: 2px solid #00C853;
            background-color: #00C853;
            transform: scale3d(0.9, 0.9, 0.9);
        }

        60% {
            opacity: 1;
            transform: scale3d(1.03, 1.03, 1.03);
        }

        80% {
            transform: scale3d(0.97, 0.97, 0.97);
        }

        to {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
    }

    .animation-success {
        animation-duration: 0.75s;
        animation-name: bounceIn;
    }

    @keyframes shake {
        from,
        to {
            transform: translate3d(0, 0, 0);
        }

        20%,
        60% {
            transform: translate3d(-10px, 0, 0);
        }

        40% {
            border: 2px solid #F44336;
            background-color: #F44336;
        }

        40%,
        80% {
            transform: translate3d(10px, 0, 0);
        }
    }

    .animation-error {
        animation-duration: 0.75s;
        animation-name: shake;
    }

</style>
