
// Body
$body-bg: #F5F5F5;

// Colors
$theme-colors: (
  "primary": #0091EA,
  "success" : #00C853
);


// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$text-color: #424242;
$text-muted: #9E9E9E;
$primary-color: #0091EA;
$text-success: #00C853;

// Navbar
$navbar-default-bg: #f0ff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

// Cards
$card-cap-bg: none;
$card-border-width: 0;

// Colors
$success-color: #00C853;
