.btn-play-audio {
  color: #0091EA;
  font-size: 2.4rem;
  cursor: pointer;
  line-height: 2rem;
}

.btn-primary, .btn-warning, .btn-success, .btn-solution{
  font-size:0.9rem;
  font-weight: bold;
  border-radius: 25px;
  border-width: 2px;
  padding: 6px 18px;
}
.btn-outline-primary, .btn-outline-warning {
  font-size:0.9rem;
  font-weight: bold;
  border-radius: 25px;
  border-width: 2px;
  padding: 6px 18px;
}

.btn-primary {
  color: white !important;
}

.btn-letter {
  background-color: #fff;
  color: $text-color;
}

/* Social Networks */
.btn-facebook {
  background-color: #3b5998;
  color: white !important;
}
.btn-twitter {
  background-color: #55acee;
  color: white !important;
}
.btn-google {
  background-color: #db4437;
  color: white !important;
}
.btn-lg {
  font-size: 1rem !important;
  padding: 8px 30px;
  font-weight: 500;
}