.card {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);

  .head-small-title {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
}
.star {
  color: #FBC02D;
  font-size: 6.2rem;
}

.card-premium {
  background-color: #ffd600;
  color: $text-color;
  position: relative;

  p {
    z-index: 1;
    position: relative;
  }

  .star {
    position: absolute;
    right: 0;
    top: -35px;
  }
}
.card-premium:hover {
  text-decoration: none;
  color: $text-color;
}

.card-course {

  .type-course-free, .type-course-premium {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  .type-course-free {
    color: $success-color;
  }

  .card-course-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 200px;
    width: 100%;
  }
}
.card-course:hover{
  text-decoration: none;
  color: $text-color;
}

.card-my-teacher-avatar {
  width: 62px;
}

.chart-progress {
  width: 48px;
}

@include media-breakpoint-up(md) {
  .card-course {
    .card-body {
      padding-left: 0;
    }
    .card-course-image {
      height: 100%;
      width: 100%;
    }
  }
}