.widget-chat {
  width: 95%;
  position: fixed;
  right: 0;
  background: white;
  top: 0;
  bottom: 0;
  height: 100%;
  box-shadow: 1px 1px 100px 2px rgba(0, 0, 0, 0.22);
  z-index: 99999999999999;

  .widget-chat-header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 67px;
    right: 0px;
    overflow: hidden;
    background: #F44336;
    padding: 0.75rem 1.25rem;
    color: white;

    .widget-avatar {
      width: 42px;
      border: 4px solid #D32F2F;
      border-radius: 50%;
    }

    .widget-chat-close-button {
      color: #FFCDD2;
      cursor: pointer;
      font-size:1.2rem;

      &:hover {
        color: white;
      }
    }

    p {
      line-height: 0.75rem;
      margin-top: 5px;
    }

    i {
      color: #FFCDD2;
    }
  }

  .widget-chat-content {
    padding: 0.75rem 1.25rem;
    position: absolute;
    top: 67px;
    bottom: 91px;
    left: 0px;
    right: 0px;
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f5f5f5;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #BDBDBD;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #757575;
    }
  }

  .widget-chat-footer {
    position: absolute;
    bottom: 0;
    height: 89px;
    left: 0;
    right: 0;
    overflow: hidden;
    border-top: 1px solid #EEEEEE;
    padding: 0;
  }

  .card-chat {
    border-radius: 25px;
    width: 100%;
  }

  .card-chat-left {
    border-top-left-radius: 0 !important;
    background-color: #eee !important;

  }

  .card-chat-right {
    border-top-right-radius: 0 !important;
    float: right;
    background-color: $primary-color !important;
    color: white;
  }

  textarea {
    border:0;
    padding: 0.75rem 1.25rem;
    height: 89px;
    border-radius: 0;

    &:focus {
      outline: none;
    }
  }

  .input-group-btn {
    background: $primary-color;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
  }
}

@include media-breakpoint-up(sm) {
  .widget-chat {
    width: 500px;
  }
}