body.lesson {
  /* Margin bottom by footer height */
  padding-top: 83px;
  overflow-y: visible;

  .step-simple-image {
    width: 220px;
    display: block;
    margin: 0 auto;
    padding: 4px;
    background: white;
    border: 2px solid #ced4da;
    border-radius: 5px;
  }

  input {
    border-width: 2px;

    &.success {
      border-color: $success-color;
      background: #E8F5E9;
    }

    &.error {
      border-color: #F44336;
      background: #FFEBEE;
    }
  }

  .text-with-audio {
    background-color: #E3F2FD;
    border-bottom: 2px dashed #0091EA;
    padding: 0 5px;
    cursor: pointer;

    &:hover {
      background-color: #BBDEFB;
    }

    &:after {
      content: "►";
      margin-left:5px;
      color: #0091EA;
    }
  }

  .btn-audio {
    color: #0091EA;
    font-size:3.5rem;
  }

  .btn-micro {
    color: #fff;
    background: #0091EA;
    border-radius: 50%;
    font-size: 1.6rem;
    width: 54px;
    height: 54px;
    margin: 6px 12px;
  }

  .step-header {
    background-color: #f5f5f5;
  }

  .progress {
    height: 0.5rem;
    background-color: #fff;
  }

  .lesson-chat-button {
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    background: #0091EA;
    border-radius: 25px;
    width: 48px;
    height: 48px;
  }

  .lesson-close-button {
    font-size: 2rem;
    color: #BDBDBD;
    cursor: pointer;

    &:hover {
      color: #0091EA;
    }
  }

  .btn-option {
    background: white;
    margin: 0 0.75rem;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.5rem 1.25rem;
    border: 2px solid #ced4da;
    transition: 0.25s;

    &:hover{
      background-color: #fafafa;
    }
  }

  .btn-group-toggle {
    .active {
      border: 2px solid #0091EA;
      background-color: #E3F2FD;
    }
    .success-active {
      border: 2px solid $success-color;
      background-color: #E8F5E9;
      transform: scale3d(1.05, 1.05, 1.05);
    }
    .danger-active {
      border: 2px solid #F44336;
      background-color: #FFEBEE;
    }
  }

  .step-image-wrapper {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
    width: 200px;
    border-radius: 5px;
    background: #0091EA;
    cursor: pointer;

    img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .step-image-button {
      font-size:1.8rem;
      color: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      .step-image-button {
        background-color: #0079c4;
        border-color: #0071b7;
      }
    }
  }

  .hidden {
    display: none;
  }
}

.keyboard {
  list-style: none;
  margin: 0;
  padding: 5px;
  background-color: #EEEEEE;

  li {
    margin: 5px;
    border: 2px solid #ced4da;
    background-color: #fff;
    display: inline-block;
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    cursor: pointer;

    &:hover{
      background-color: #fafafa;
    }
  }
}

.life-wrapper {
  margin: 0 auto;

  .life-heart {
    color: #F44336;
    font-size: 1.5rem;
    float: left;
    margin: 0 5px;
  }
}

.test-fail-smile {
  width:38px;
}
