
// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom
@import 'card';
@import 'button';
@import 'nav';
@import 'chat';
@import 'panel_pricing';
@import 'vocabulary';
@import 'lesson';
@import 'stripe';
@import 'videos';


.lead {
  font-weight: 400;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
}

.logo-white {
  fill: white;
}

.lessons {
  .nav-link {
    color: $text-color;
    padding: 0.75rem 1.25rem;
    border-top: 1px solid #EEEEEE;
  }
  a.nav-link:hover {
    background-color: #FFFDE7;
  }

  .lesson-locked {
    background-color: #fafafa;
    color: $text-muted;
  }

  .lesson-open {

  }
}