.navbar-header {
  background: #F44336;

  a.nav-link, .navbar-toggler {
    color: #FFCDD2;
  }
  a.nav-link:hover {
    color: #fff;
  }

  li.active a {
    color: #fff;
    font-weight: bold;
  }

  .navbar-toggler {
    border-color: #FFCDD2;
  }
}

.nav-pills {
  .nav-item {
    font-size:0.9rem;
    font-weight: bold;

    .nav-link {
      color: #9E9E9E;
      padding: 6px 18px;
    }
    .nav-link:hover {
      color: $text-color;
    }

    .active {
      border-radius: 25px;
      border-width: 2px;
      color: white !important;
    }
  }
}