.card-premium-one-year {
  border: 2px solid $text-success;

  .card-header {
    background-color: $text-success;
    color: white !important;
    padding: 0.5rem;
  }
}

.card-premium-one-month {
  margin-top: 45px !important;
}