.videos-filter {
  a {
    color: #616161;
  }

  li {
    margin-bottom:5px;
  }
}

.video-thumbnail {
  color: $text-color;

  p {
    font-weight: bold;
    margin-bottom: 0;
  }
  &:hover {
    text-decoration: none;
    color: #0091EA;
  }
}

.transcript {
  overflow-y: auto;
  height: 334px;
}

.video-avatar {
  width:48px;
}
.video-separator {
  border-color: #E0E0E0;
}

.options {

}
.vue-switcher-theme--custom {
  &.vue-switcher-color--blue {
    div {
      background-color: lighten(#2196F3, 10%);

      &:after {
        // for the circle on the switch
        background-color: darken(#2196F3, 5%);
      }
    }

    &.vue-switcher--unchecked {
      div {
        background-color: lighten(#666, 30%);

        &:after {
          background-color: lighten(#bbb, 10%);
        }
      }
    }
  }
}