.vocabulary {
  .vocabulary-letter {
    font-size:0.9rem;
    font-weight: bold;
  }

  .nav-link {
    border-bottom: 1px solid #eee;
    padding: 0.75rem 1rem;
  }
  .image-vocabulary {
    width: 50px;
  }
}

