<template>

    <div class="text-center">
        <h2 class="mb-4"><strong>{{ step.title }}</strong></h2>
        <p class="lead mb-3" v-if="step.subtitle">{{ step.subtitle }}</p>

        <div class="mb-2">
            <div class="btn btn-audio" @click="playAudio(step.audio)">
                <i class="fas fa-play-circle"></i>
            </div>
            <div class="btn btn-micro" @click="recordSound()">
                <span v-if="is_recording">{{ counter }}</span>
                <div v-else><i class="fas fa-microphone"></i></div>
            </div>
        </div>

        <p class="help-block text-muted mb-3">{{ help_block }}</p>

        <div class="d-flex justify-content-center mb-4">
            <div class="col-lg-8">
                <input :class="style" disabled v-model="answer" class="form-control form-control-lg">
            </div>
        </div>

    </div>

</template>

<script>
    export default {
        props: [
            'step',
        ],

        data: function () {
            return {
                answer: '',
                media_recorder: null,
                is_recording: false,
                counter: 5,
                help_block: 'Click the microphone to start recording.',
                style: ''
            }
        },

        methods: {
            /**
             * Play audio
             *
             * @param audio_url
             */
            playAudio(audio_url) {
                new Audio(audio_url).play();
            },

            /**
             * If we can record the user, prepare the options and record during 5 seconds.
             *
             * @param stream
             */
            onMediaSuccess(stream) {
                let interval;

                this.media_recorder = new MediaStreamRecorder(stream);

                interval = setInterval(() => {
                    this.counter--;

                    if (this.counter < 0) {
                        clearInterval(interval);
                        this.counter = 0;
                    }
                }, 1000);

                this.media_recorder.stream = stream;
                this.media_recorder.mimeType = 'audio/wav';
                this.media_recorder.sampleRate = 44100;
                this.media_recorder.recorderType = StereoAudioRecorder;
                this.media_recorder.audioChannels = 1;

                this.media_recorder.ondataavailable = this.onDataAvailable;
                this.media_recorder.start(5000);
                this.is_recording = true;
                this.help_block = 'Recording';
            },

            /**
             * Update the answer or ask the user to repeat it in case it's empty.
             *
             * @param answer
             */
            updateAnswer(answer) {
                this.is_recording = false;
                this.counter = 5;

                if ('' === answer) {
                    this.help_block = "We did't listen correctly, can you repeat please?";
                } else {
                    this.answer = answer;
                    this.help_block = 'Loud & Clear!';
                    this.$parent.$emit('set_answer', this.answer);
                }
            },

            /**
             * Stop the recording.
             *
             * @param blob
             */
            onDataAvailable(blob) {
                this.media_recorder.stop();
                this.help_block = "Processing your voice";
                this.uploadToServer(blob);
            },

            /**
             * Try to start recording.
             */
            recordSound() {
                navigator.getUserMedia({audio: true}, this.onMediaSuccess, this.onMediaError);
            },

            /**
             * Ep! Something is not working. Print in the console.
             *
             * @param e
             */
            onMediaError(e) {
                console.error('media error', e);
            },

            /**
             * Send the audio file to the API to be processed.
             *
             * @param blob
             */
            uploadToServer(blob) {
                let audio = new File([blob], 'audio.wav', {type: 'audio/wav'});
                let data = new FormData();
                data.append('audio', audio);

                axios({
                    method: 'post',
                    url: '/api/app/speech-recognition',
                    data: data,
                    config: {headers: {'Content-Type': 'multipart/form-data'}}
                }).then(response => {
                    this.updateAnswer(response.data);
                }).catch(function (response) {
                    this.help_block = "We did't listen correctly, can you repeat please?";
                    console.log(response);
                });

            },

            /**
             * Show the solution.
             *
             * @param is_success
             */
            showSolution(is_success) {
                if(is_success) {
                    this.style = 'success';
                } else {
                    let string = this.step.solutions[0].text;
                    this.answer = string.charAt(0).toUpperCase() + string.slice(1);
                    this.style = 'error';
                }
            }

        },


        mounted() {

            /**
             * Register the event to show the solution.
             */
            this.$parent.$on('show_solution', (is_success) => {
                this.showSolution(is_success);
            })

        }
    }
</script>
