<template>
    <div class="text-center">

        <h2 class="mb-4"><strong>{{ step.title }}</strong></h2>
        <p class="lead mb-5" v-if="step.subtitle">{{ step.subtitle }}</p>

        <img class="mb-5 step-simple-image" v-if="step.image" :src="step.image"/>

        <div class="mb-3" v-if="step.audio">
            <div class="btn btn-audio" @click="playAudio(step.audio)">
                <i class="fas fa-play-circle"></i>
            </div>
        </div>

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-option" v-for="option in this.options"
                   :class="option.style"
                   @click="optionSelected(option)">
                <input type="radio" name="options" :id="option.id" autocomplete="off">{{ option.text }}
            </label>
        </div>

    </div>
</template>

<script>
    export default {
        props: [
            'step',
            'show_solution'
        ],

        data: function () {
            return {
                answer: '',
                options: []
            }
        },

        methods: {

            /**
             * Play audio
             */
            playAudio(audio_url) {
                new Audio(audio_url).play();
            },

            /**
             * Set the user answer.
             *
             * @param option
             */
            optionSelected(option) {
                this.answer = option.text;
                this.$parent.$emit('set_answer', this.answer);

                if (1 === this.step.is_sound_option) {
                    this.playAudio(option.audio);
                }
            },

            /**
             * Highlight the solution in the options.
             */
            showSolution() {
                for(let i=0; i<this.options.length; i++) {
                    if (this.options[i].text === this.step.solutions[0].text) {
                        this.options[i].style = 'success-active';
                    }
                    if(this.options[i].text !== this.step.solutions[0].text && this.answer === this.options[i].text) {
                        this.options[i].style = 'danger-active';
                    }
                }
                this.options.class = 'active';
            },

            /**
             * Load the options.
             *
             * @param options
             */
            setOptions(options) {
                for(let i=0; i<options.length; i++) {
                    this.options.push({
                        id: options[i].phrase.id,
                        text: options[i].phrase.text,
                        audio: options[i].phrase.audio,
                        style: '',
                    });
                }
            }
        },

        mounted() {
            this.setOptions(this.step.options);

            /**
             * Register the event to show the solution.
             */
            this.$parent.$on('show_solution', (is_success) => {
                this.showSolution(is_success);
            })
        }
    }
</script>
