<template>
    <div>
        <h2 class="text-center mb-4"><strong>{{ step.title }}</strong></h2>
        <p class="text-center lead mb-4">{{ step.subtitle }}</p>
        <div class="text-center">

            <div class="mb-3" v-if="step.audio">
                <div class="btn btn-audio" @click="playAudio(step.audio)">
                    <i class="fas fa-play-circle"></i>
                </div>
            </div>

            <div class="d-flex justify-content-center mb-4">
                <div class="col-lg-8">
                    <input :class="style" @change="updateKeyboard" v-model="answer" class="form-control form-control-lg"
                           :placeholder="lang.placeholder_write_russian">
                </div>
            </div>

            <ul class="keyboard">
                <li v-for="letter in keyboard" @click="writeLetter">
                    {{ letter }}
                </li>
                <li class="delete" @click="removeLetter"><i class="fas fa-long-arrow-alt-left"></i></li>
            </ul>

        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'step',
            'lang'
        ],

        data: function () {
            return {
                keyboard: [],
                answer: '',
                style: ''
            }
        },

        methods: {
            /**
             * Play audio
             *
             * @param audio_url
             */
            playAudio(audio_url) {
                new Audio(audio_url).play();
            },

            /**
             * Load Russian keyboard based in the options.
             */
            loadKeyboard() {
                let letters = this.step.solutions[0].text;
                this.keyboard = _.uniqBy(letters.split(''));
                this.keyboard = _.shuffle(this.keyboard);
            },

            /**
             * A letter has been clicked, write it in the answer box.
             *
             * @param e
             */
            writeLetter(e) {
                this.answer += e.target.innerText;
                this.$parent.$emit('set_answer', this.answer);
                this.updateKeyboard();
            },

            /**
             * Remove the last letter from the answer box.
             */
            removeLetter() {
                this.answer = this.answer.substring(0, this.answer.length - 1);
                this.$parent.$emit('set_answer', this.answer);
                this.updateKeyboard();
            },

            /**
             * Depending if is the first letter or not, change the case.
             */
            updateKeyboard() {
                if (this.answer.length > 0) {
                    this.changeKeysToLowerCase();
                } else {
                    this.changeKeysToUpperCase();
                }
            },

            /**
             * Set the keys to be lower case.
             */
            changeKeysToLowerCase() {
                for (let i = 0; i < this.keyboard.length; i++) {
                    this.keyboard[i] = this.keyboard[i].toLowerCase();
                }
            },

            /**
             * Set the keys to be upper case.
             */
            changeKeysToUpperCase() {
                for (let i = 0; i < this.keyboard.length; i++) {
                    this.keyboard[i] = this.keyboard[i].toUpperCase();
                }
            },

            /**
             * Show the solution in the input box.
             */
            showSolution(is_success) {
                if (is_success) {
                    this.style = 'success';
                } else {
                    let string = this.step.solutions[0].text;
                    this.answer = string.charAt(0).toUpperCase() + string.slice(1);
                    this.style = 'error';
                }
            }

        },

        mounted() {
            this.loadKeyboard();

            /**
             * Register the event to show the solution.
             */
            this.$parent.$on('show_solution', (is_success) => {
                this.showSolution(is_success);
            })
        }
    }
</script>
